services:
  redis:
    image: redis:7-alpine
    restart: unless-stopped

  controller:
    image: m2n2/telemitz-controller:latest
    restart: unless-stopped
    command: python main.py
    depends_on:
      - livekit
    environment:
      BACKEND_URL: "${BACKEND_URL}"
      REGISTRATION_TOKEN: "${REGISTRATION_TOKEN}"
      SELF_DOMAIN: "${SELF_DOMAIN}"
      LIVEKIT_API_KEY: "${LIVEKIT_API_KEY}"
      LIVEKIT_API_SECRET: "${LIVEKIT_API_SECRET}"

  nginx:
    build:
      dockerfile: nginx.Dockerfile
    restart: unless-stopped
    volumes:
      - ssl_data:/etc/resty-auto-ssl
      - cache_data:/var/cache/nginx/project_images_cache
    ports:
      - 80:80
      - 443:443

  livekit:
    image: livekit/livekit-server:latest
    restart: unless-stopped
    ports:
      - "7880:7880"
      - "7881:7881"
      - "50000-50500:50000-50500/udp"
    volumes:
      - ./livekit:/etc/livekit
    command: [ "--config", "/etc/livekit/config.yaml" ]

  ingress:
    image: livekit/ingress:latest
    restart: unless-stopped
    depends_on:
      - livekit
      - redis
    environment:
      INGRESS_CONFIG_BODY: |
        log_level: info
        api_key: ${LIVEKIT_API_KEY}
        api_secret: ${LIVEKIT_API_SECRET}
        ws_url: ws://livekit:7880
        redis:
          address: redis:6379
    ports:
      - "1935:1935"
      - "8080:8080"

volumes:
  cache_data:
  ssl_data:
